.free{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/free.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}

.oneone{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/1-1.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.towthree{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/2-3.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.threetow{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/3-2.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.fourthree{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/4-3.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.threefour{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/3-4.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.sixnine{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/16-9.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.ninesix{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/9-16.png");/*图片引用*/
    -fx-background-size: 50 50;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.origin{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/origin.png");/*图片引用*/
    -fx-background-size: 30 30;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.phone{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/phone.png");/*图片引用*/
    -fx-background-size: 20 20;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.license{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/license.png");/*图片引用*/
    -fx-background-size: 20 20;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.pc{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon3/pc.png");/*图片引用*/
    -fx-background-size: 20 20;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.zoomin{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon/zoom-in.png");/*图片引用*/
    -fx-background-size: 20 20;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.zoomout{
    -fx-border-color: transparent;
    -fx-background-image:url("../icon/zoom-out.png");/*图片引用*/
    -fx-background-size: 20 20;       /* 图片尺寸 */
    -fx-background-repeat: no-repeat;       /* 禁止重复 */
    -fx-background-position: center;        /* 图片居中 */
}
.scaleType{

}
.scaleType:hover{
    -fx-border-color: #4e8752;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}
.scaleTypeSelected{
    -fx-border-color: #4e8752;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-background-color: #4e8752!important;
}

