/* 缩略图栏整体样式 */
.thumbnail-gallery {
    -fx-background-color:  #3c3f41;
    -fx-border-color: grey;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

}
.scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-pref-height: 8;
}
/* 缩略图容器样式 */
.thumbnails-container {
    -fx-background-color:#3c3f41;
    -fx-fill: #3c3f41 ;
    -fx-padding: 5px;
}

/* 单个缩略图默认样式 */
.thumbnail {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 1);
    -fx-border-color: #555555;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}
/* 缩略图悬停样式 */
.thumbnail:hover {
    -fx-border-color: #888888;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.5), 10, 0, 0, 2);
}

/* 选中缩略图样式 */
.thumbnail-selected {
    -fx-border-color: greenyellow !important;
    -fx-border-radius: 3;
    -fx-effect: dropshadow(three-pass-box, greenyellow, 15, 0, 0, 0) !important;
}
.thumbnail-placeholder {
    -fx-background-color: #3c3f41;
    -fx-border-color: #555555;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}